h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: purple;  
}
   canvas {
       animation-name: mustache;
       animation-duration: 4s;
       animation-iteration-count: infinite;
   }

@keyframes mustache {

    from {box-shadow: 2px 2px 38px #00A4CCFF;}
    to {box-shadow: 2px 2px 38px #F95700FF;}
    
}
body {
    text-align: center;
}